{# download-specifications/pdf.html.twig #}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    {#<link rel="stylesheet" href="{{ asset('build/base.css') }}">#}
    {% block stylesheets %}{% endblock %}

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container main-container">
    {% block body %}
      <p>Esto es una prueba</p>
    {% endblock %}
    </div>

    {#<script src="{{ asset('build/manifest.js') }}"></script>#}
    {#<script src="{{ asset('build/base.js') }}"></script>#}
    {% block javascripts %}{% endblock %}
  </body>
</html>

