{% extends "articulos.html.twig" %}

{% block title %}Centro de Psicología Eguzkilore : Test : Karl Hereford {% endblock %}

  {% block metatags %}
    <meta name=”robots” content=”noindex,nofollow”>
  {% endblock %}

  {% block body %}
    <div class="container mb-5 pb-0">

      <div class="mx-5">        
        <h1 class="mb-5 mt-3 text-center text-azuloscuro">Test a realizar</h1>



        <div class="row">
          <div class="col-md-12">
            <a class="nav-link" href="{{ path('test_karlhereford') ~ '#psicologiaenirun'}}" target="_blank" >Test Karl Hereford</a>
          </div>
          <div class="col-md-12"><a class="nav-link" href="{{ path('test_ocupacionales') ~ '#psicologiaenirun' }}"  target="_blank">Test de Intereses Ocupacionales</a>
          </div>
          <div class="col-md-12"><a class="nav-link" href="{{ path('test_aptitudes') ~ '#psicologiaenirun' }}"  target="_blank">Test de Aptitudes</a>
          </div>
        </div>


        <br><br>


      </div>
    </div>
  {% endblock %}

