{% extends 'articulos.html.twig' %}

{% block title %}Actividades - Psicólogo en Irun - Centro de Psicología Eguzkilore{% endblock %}

  {% block metatags %}
<meta name="robots" content="index, follow" />    
  <meta name="keywords" content="“psicólogo irun”, “psicólogo en irun”, “psicóloga irun”, “psicóloga en irun”, psicólogo, psicóloga, actividad, actividades, psicología, consulta, centro, irun, gipuzkoa, guipuzcoa, “psicología en irun”, “centro de psicología”, “centro eguzkilore”, “centro de psicología eguzkilore”, ayuda, solución, problema, “terapia de pareja”, “solucionar problema”, “solucionar problemas”, “gipuzkoa psicólogo”, “guipuzcoa psicólogo”, “avenida salis”, salis" />
    <meta name="description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Actividades: grupales e individuales. Talleres y charlas informativas" />
    <meta property="og:title" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Actividades" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Actividades: grupales e individuales. Talleres y charlas informativa" />
  {% endblock %}



  {% block articulo %}

      <div class="row col-md-8 justify-content-center" style="color: #761DA2; font-family: 'Merienda', cursive;">   
   <h2 class="mb-2">Actividades</h2>
</div>


{# <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="mb-2">Actividades</h2>
      </div>
</div>#}

    <div class="row">
      {#      <div class="col-md-12 mt-3">
        <div class="charlanuevasactividades">
          ¡¡Nuevas Actividades!!	
        </div>

        <div class="charlablock mb-4">				
          <div class="charladate">Viernes, 16 de Noviembre de 2018, 17:30 hs. </div>
          <div class="charlatema">Presentación informativa de los temas a desarrollar (gratuita)</div>
        </div>

        <div class="charlablock mb-4">
          <div class="charladate">Viernes, 23 de Noviembre de 2018, 17:30 hs. </div>
          <div class="charlatema">¿Cómo actuar frente al uso excesivo de las nuevas tecnologías?</div>
        </div>

        <div class="charlablock mb-4">
          <div class="charladate">Viernes, 30 de Noviembre de 2018, 17:30 hs. </div>
          <div class="charlatema">Cultivar la autoestima para evitar relaciones tóxicas</div>
        </div>

        <div class="charlablock mb-4">
          <div class="charladate">Viernes, 14 de Diciembre de 2018, 17:30 hs. </div>
          <div class="charlatema">Alcanzar la plenitud sexual</div>
        </div>

        <div class="charlapieinfo">Plazas limitadas. Reserva tu lugar con anticipación!!</div>
        <div class="charlapiecontacto">Tel: <spam class="charlatelemail">722 617 163</spam> email: <spam class="charlatelemail">gloria@eguzkilorepsicologia.es</spam></div>


      </div>#}

        <div class="charlageneral px-4" style="color: #761DA2; font-family: 'Merienda', cursive;">En general, se realizan las siguientes actividades en el <strong>Centro Eguzkilore</strong>:</div>

      <div class="col-md-6 mt-3">
        <!--<div class="text-light bg-success- p-3 my-3">Grupales:</div>-->

         <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div class="bg-dark-morado- py-2 px-3 text-light mb-3"> Charlas Temáticas</div>

          <div class="text-justify mb-5" style="font-family: 'Merienda', cursive;">
Se ofrecen charlas informativas cuyo objetivo es profundizar en temas que despiertan el interés de quienes acuden al centro.<br><br>

Mi función es la de brindar material teórico y práctico que pueda ser aplicado en el ámbito cotidiano favoreciendo el abordaje de situaciones complejas a partir de acercar a las personas herramientas y estrategias que permiten la resolución de conflictos.<br><br>

Mi intención es crear un espacio de diálogo propiciando el intercambio y la participación activa de los participantes. La circulación de la palabra es la meta principal. El proceso de aprendizaje se lleva a cabo a partir de una conexión entre todos, en la que cada uno expondrá sus experiencias y acercará su conocimiento a los demás.<br><br>

Los invito a proponer temas que despierten su interés.
          </div>

          <div class="bg-morado- py-2 px-3 text-light mb-3">Talleres</div>
          <div class="text-justify mb-5" style="font-family: 'Merienda', cursive;">
Los talleres  están dirigidos a un grupo reducido de personas (con un máximo de 12 participantes). Tienen una duración de 2 o 3 encuentros mensuales aproximadamente con la participación de profesionales de distintos ámbitos dependiendo de la temática propuesta.<br><br>

Para su desarrollo se tomará como punto de partido un tema de interés en torno al que se propondrán ejercicios con una participación activa de cada uno de los integrantes del grupo.<br><br>

A partir de postulados teóricos se pondrán en práctica actividades lúdicas y creativas que permitirán el despliegue y desarrollo de habilidades y destrezas que facilitarán el descubrimiento de herramientas que permitirán una mejora en el desempeño personal favoreciendo la calidad de vida de cada uno de los participantes.
          </div>
        </div>
         </div>

        <!--<div class="text-light bg-success- p-3">Individuales</div> 
          <div class="text-justify mb-5 mt-3" style="font-family: 'Merienda', cursive;">
Se trata de un encuentro entre la Psicóloga consultora y el cliente en un ambiente distendido y acogedor.<br><br>

El cliente planteará  las situaciones que lo desestabilizan y mi función será la de acercarle las herramientas que le permitan  adaptarse a los cambios de manera sencilla, eficaz y eficiente.<br><br>

Haré hincapié en las potencialidades de la persona  permitiéndole alcanzar objetivos que de otra manera serián considerados inalcanzables.<br><br>

Mi trabajo se desarrollará desde una perspectiva educativa, asesorando, orientando y guiando al cliente en el proceso de aprendizaje de conductas que le permitan su desarrollo personal.<br><br>

Desde una escucha activa y una actitud empática propiciaré un diálogo fluido con el cliente que le permita reconocer las estrategias con las que cuenta para cambiar aquello que le causa malestar.
          </div>-->
        
      </div>

      <div class="col-md-6 mt-5">
        <img src="images/actividades.jpg" class="mt-3 img-fluid rounded mx-auto d-block border border-primary" alt="Actividades">
      </div>
    </div>

  {% endblock %}
