{% extends 'articulos.html.twig' %}

{% block title %}Ayuda Profesional - Psicólogo en Irun - Centro de Psicología Eguzkilore{% endblock %}

{% block metatags %}
<meta name="robots" content="index, follow" />  
  <meta name="keywords" content="“psicólogo irun”, “psicólogo en irun”, “psicóloga irun”, “psicóloga en irun”, psicólogo, psicóloga, psicología, ansiedad, estres, malestar, dolor, soledad, tristeza, pánico, pérdida, abandono, engaño, “ayuda profesional”, conflicto, diálogo, consulta, centro, irun, gipuzkoa, guipuzcoa, “psicología en irun”, “centro de psicología”, “centro eguzkilore”, “centro de psicología eguzkilore”, ayuda, solución, problema, “terapia de pareja”, “solucionar problema”, “solucionar problemas”, “gipuzkoa psicólogo”, “guipuzcoa psicólogo”, “avenida salis”, salis" />
<meta name="description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Objetivos: evitar conflictos, diálogo" />
<meta property="og:title" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Objetivos" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Objetivos: evitar conflictos, diálogo" />
{% endblock %} 


{% block articulo %}

    <!--<div class="row col-md-8 justify-content-center">
      <h2 class="mb-4">Ayuda Profesional</h2>
    </div>-->
 
    <div class="row col-md-12 justify-content-center mb-3">
   <div class="row col-md-12 justify-content-center" style="color: #761DA2; font-family: 'Merienda', cursive;">
      <h2 class="mb-4">Ayuda Profesional ...</h2>
   </div>

<div class="" style="color: #761DA2; font-family: 'Merienda', cursive;">
  ... para resolver las siguientes situaciones:
</div>
        </div>

        <div class="mb-5" style="font-family: 'Merienda', cursive;">
        <button type="button" class="btn btn-primary btn-lg btn-block">Dificultad para<br> resolver conflictos</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Baja autoestima</button>
        <button type="button" class="btn btn-info btn-lg btn-block">Uso abusivo del móvil<br> u otras tecnologías</button>
        <button type="button" class="btn btn-success btn-lg btn-block">Bullying (acoso escolar)</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Dificultad para establecer<br> vínculos saludables</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Crisis de pareja</button>
        {#<button type="button" class="btn btn-info btn-lg btn-block">Desmotivación generalizada</button>#}
        <button type="button" class="btn btn-info btn-lg btn-block">Dificultad en el desempeño<br> del puesto laboral</button>
        <button type="button" class="btn btn-success btn-lg btn-block">Insatisfacción laboral</button>
        {#<button type="button" class="btn btn-secondary btn-lg btn-block">Insatisfacción vital</button>#}
        <button type="button" class="btn btn-primary btn-lg btn-block">Duelo</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Mobbing (acoso laboral)</button>
        <button type="button" class="btn btn-info btn-lg btn-block">Búsqueda de Talentos</button>
        <button type="button" class="btn btn-success btn-lg btn-block">Orientación vocacional</button>
        {#<button type="button" class="btn btn-info btn-lg btn-block">Inhibición ante<br> los exámenes</button>#}
        {#<button type="button" class="btn btn-success btn-lg btn-block">Inhibición sexual</button>#}
        <button type="button" class="btn btn-primary btn-lg btn-block">Incomunicación</button>     
 </div>

  
   <div class="row col-md-12 justify-content-center">
      <h3 class="mb-3 mt-5">Palabras Claves</h3>
   </div>

   <div class="row mt-4 col-12 justify-content-center">

      <div class="col-2"></div>


      <div class="row justify-content-around palabrasclave-font col-8">
         <div class="col-5"></div>
         <div class="col-2"><button type="button" class="text-center mb-2 btn btn-morado">Escuchar</button></div>
         <div class="col-5"></div>

         <div class="col-3"></div>   
         <div class="col-1">
            <button type="button" class="text-center mb-5 btn btn-info">Empatizar</button>
         </div> 
         <div class="col-3"></div> 
         <div class="col-1">
            <button type="button" class="text-center mb-5 btn btn-primary">Construir</button>
         </div> 
         <div class="col-4"></div> 

         <div class="col-1"></div>   
         <div class="col-1">
            <button type="button" class="text-center mb-5 btn btn-primary">Dialogar</button>
         </div> 
         <div class="col-7"></div> 
         <div class="col-1">
            <button type="button" class="text-center mb-5 btn btn-success">Enfrentar</button>
         </div> 
         <div class="col-2"></div>

         <div class="col-1">
            <button type="button" class="text-center mb-5 btn btn-morado">Resolver</button>
         </div>   
         <div class="col-4"></div> 
         <div class="col-2">
            <button type="button" class="text-center mb-5 btn btn-success">Confiar</button>
         </div> 
         <div class="col-3"></div> 
         <div class="col-1">
            <button type="button" class="text-center mb-5 btn btn-primary ml-3">Esperar</button>
         </div>
         <div class="col-1"></div>

         <div class="col-1"></div>
         <div class="col-1">
            <button type="button" class="text-center mb-5 btn btn-primary">Sentir</button>
         </div>
         <div class="col-7"></div>
         <div class="col-1">
            <button type="button" class="text-center mb-5 btn btn-info">Reconocer</button>
         </div>
         <div class="col-2"></div>

         <div class="col-3"></div>   
         <div class="col-1">
            <button type="button" class="text-center mb-2 btn btn-success">Flexibilizar</button>
         </div> 
         <div class="col-3"></div> 
         <div class="col-1">
            <button type="button" class="text-center mb-2 btn btn-morado">Asumir</button>
         </div> 
         <div class="col-4"></div> 

         <div class="col-5"></div>
         <div class="col-2">
            <button type="button" class="text-center mb-5 btn btn-info">Entrenar</button>
         </div>
         <div class="col-5"></div>
      </div>

      <div class="col-2"></div>
  </div>

  </div>
{% endblock %}

