{% extends 'articulos.html.twig' %}

{% block title %}Contacto - Psicólogo en Irun - Centro de Psicología Eguzkilore{% endblock %}

  {% block metatags %}
    <meta name="robots" content="index, follow" />
  <meta name="keywords" content="“psicólogo irun”, “psicólogo en irun”, “psicóloga irun”, “psicóloga en irun”, psicólogo, psicóloga, “gloria dalessandro”, gloria, dalessandro, 722617163, psicología, consulta, centro, irun, gipuzkoa, guipuzcoa, “psicología en irun”, “centro de psicología”, “centro eguzkilore”, “centro de psicología eguzkilore”, ayuda, solución, problema, “solucionar problema”, “solucionar problemas”, “gipuzkoa psicólogo”, “guipuzcoa psicólogo”, “avenida salis”, salis" />    
    <meta name="description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Contacto: Gloria Mabel DAlessandro Kaiser, Avenida Salis 19 bajo derecha, 722617163" />
    <meta property="og:title" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Contacto" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Contacto: Gloria Mabel DAlessandro Kaiser, Avenida Salis 19 bajo derecha, 722617163" />
  {% endblock %} 


  {% block articulo %}

    <div class="row col-md-8 justify-content-center">
      <h2 class="contacto2-font mb-4">Contacto</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="images/eguzkilore.png" class="img-fluid rounded mx-auto d-block" alt="Logo Centro de Psicología Eguzkilore">
      </div>

      <div class="col-md-8">
        <div class="row">
             <div class="col-md-12 mt-5 contacto-font-nombre">Gloria Mabel D'Alessandro Kaiser</div>
         <div class="col-md-6 mt-3 contacto-font">
            <div class="mb-3">Nº de colegiada: GZ02709</div>
            <div>Avenida Salís 19 Bajo Derecha</div>
             <div class="mb-3">20304 Irun (Gipuzkoa)</div>

           <div class="contacto-font-telefono mb-3"><i class="fas fa-mobile-alt"></i> &nbsp; 722 617 163</div>

           <div class="contacto-font-email mb-2"><a href="mailto:gloria@eguzkilorepsicologia.es" target="_top"><span class="contacto-font-email"><i class="fas fa-envelope"></i> &nbsp; gloria@eguzkilorepsicologia.es</span> </a></div>

           <div class="contacto-font-email mb-1"><a href="mailto:eguzkilorepsicologia@gmail.com" target="_top"><span class="contacto-font-email"><i class="fas fa-envelope"></i> &nbsp; eguzkilorepsicologia@gmail.com</span> </a></div>

            <img src="images/QRvcard.jpg" class="img-fluid rounded mx-auto d-block mt-5" alt="Código QR vcard">

          </div>

          <div class="col-md-6">
            <iframe class="mt-4 img-fluid rounded mx-auto d-block" src="https://www.google.es/maps/embed?pb=!1m18!1m12!1m3!1d725.4243956615261!2d-1.7878563817793298!3d43.34151695291952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5108f12dc478a3%3A0x9bfc45c84c1c13db!2sS%C4%81lis+Hiribidea%2C+19%2C+20304+Irun%2C+Gipuzkoa!5e0!3m2!1ses!2ses!4v1532815026253" width="300" height="400" style="border:2px solid #682589; max-width: 100%; height:400px" allowfullscreen></iframe>
          </div>
        </div> 
      </div> 

    </div>


  {% endblock %}
