{% extends 'articulos.html.twig' %}

{% block metatags %}
  <meta name="robots" content="index, follow" />  
  <meta name="keywords" content="“psicólogo irun”, “psicólogo en irun”, “psicóloga irun”, “psicóloga en irun”, psicólogo, psicóloga, psicología, inicio, consulta, centro, irun, gipuzkoa, guipuzcoa, “psicología en irun”, “centro de psicología”, “centro eguzkilore”, “centro de psicología eguzkilore”, ayuda, solución, problema, “solucionar problema”, “solucionar problemas”, “gipuzkoa psicólogo”, “guipuzcoa psicólogo”, “avenida salis”, salis" />  
  <meta name="description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Inicio" />
  <meta property="og:title" content="Centro de Psicología Eguzkilore en Irun" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="Centro de Psicología en Irun, Gipuzkoa. Inicio" />
{% endblock %} 

{% block articulo %}

  <div class="row col-md-8 justify-content-center">
    <h2 class="mb-5"></h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="images/eguzkilore.png" class="img-fluid rounded mx-auto d-block" alt="Logo Eguzkilore">
    </div>

    <div class="col-md-2"></div>

    <div class="contacto-font col-md-4 mt-5">
      <blockquote class="blockquote text-center">
        <p style="color:#761DA2;">"Las personas cambian cuando se dan cuenta del potencial que tienen para cambiar la realidad"</p>
        <footer class="blockquote-footer"><cite title="Paulo Coelho">Paulo Coelho</cite></footer>
      </blockquote>
    </div>

    <div class="col-md-2"></div>

  </div>


{% endblock %}
