{% extends 'articulos.html.twig' %}

{% block title %}Servicios - Psicólogo en Irun - Centro de Psicología Eguzkilore{% endblock %}

  {% block metatags %}
    <meta name="robots" content="index, follow" />
  <meta name="keywords" content="“psicólogo irun”, “psicólogo en irun”, “psicóloga irun”, “psicóloga en irun”, psicólogo, psicóloga, psicología, servicio, servicios, desarrollo, fortalecer, capacidad, consulta, centro, irun, gipuzkoa, guipuzcoa, “psicología en irun”, “centro de psicología”, “centro eguzkilore”, “centro de psicología eguzkilore”, ayuda, solución, problema, “solucionar problema”, “solucionar problemas”, “gipuzkoa psicólogo”, “guipuzcoa psicólogo”, “avenida salis”, salis" />
    <meta name="description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Servicios: desarrollar y fortalecer la capacidad" />
    <meta property="og:title" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Servicios" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Servicios: desarrollar y fortalecer la capacidad" />
  {% endblock %} 


  {% block articulo %}

    <div class="row">
      <div class="col-md-8 justify-con5ent-0enter" style="color: #761DA2; font-family: 'Merienda', cursive;">
        <h2 class="mb-4">Servicios ofrecidos</h2>
      </div>
      <div class="col-md-4"></div>
    </div> 

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="mx-3 col-md-12 bg-morado- py-2 px-3 text-light mb-3">Orientación y Asesoramiento</div>
          <div class="col-md-1"></div> <div class="col-md-11 bg-success py-2 px-3 text-light mb-3">Individual</div>
<div class="col-md-1"></div>
<div class="col-md-11 text-justify mb-5 mt-0" style="font-family: 'Merienda', cursive;">
Se trata de un encuentro entre la Psicóloga consultora y el cliente en un ambiente distendido y acogedor.<br><br>

El cliente planteará  las situaciones que lo desestabilizan y mi función será la de acercarle las herramientas que le permitan  adaptarse a los cambios de manera sencilla, eficaz y eficiente.<br><br>

Haré hincapié en las potencialidades de la persona  permitiéndole alcanzar objetivos que de otra manera serián considerados inalcanzables.<br><br>

Mi trabajo se desarrollará desde una perspectiva educativa, asesorando, orientando y guiando al cliente en el proceso de aprendizaje de conductas que le permitan su desarrollo personal.<br><br>

Desde una escucha activa y una actitud empática propiciaré un diálogo fluido con el cliente que le permita reconocer las estrategias con las que cuenta para cambiar aquello que le causa malestar.
          </div>
          <div class="col-md-1"></div> <div class="col-md-11 bg-success py-2 px-3 text-light mb-3">A Parejas</div>
<div class="col-md-1"></div>
<div class="col-md-11 text-justify mb-5 mt-0" style="font-family: 'Merienda', cursive;">
El tiempo que comparten dos personas relacionadas por un vínculo de amor erótico (parejas sentimentales o afectivas) va transitando distintos estados, algunos más placenteros que otros.<br><br>

Los altibajos son normales, sin embargo, cuando la inestabilidad y malestar se prolongan las parejas entran en un bucle en el que suelen precisar ayuda para salir.<br><br> 

Mi función será la de ayudarlos a crear espacios de diálogo, favoreciendo una comunicación fluida que les permita recuperar la estabilidad perdida y elegir si desean reencontrarse emocionalmente.
</div> 
          <div class="col-md-1"></div> <div class="col-md-11 bg-success py-2 px-3 text-light mb-3">Profesional</div>
<div class="col-md-1"></div>
<div class="col-md-11 text-justify mb-5 mt-0" style="font-family: 'Merienda', cursive;">
Son muchas las dudas que surgen cuando los sujetos tienen que decidir su futuro profesional. Cuando las dudas inhiben la capacidad de elección mi función será la de ayudar a la persona a reconocer sus habilidades, aptitudes y actitudes para realizar la elección más certera posible.
        </div> 

          <div class="mx-3 col-md-12 bg-morado- py-2 px-3 text-light mb-3">Entrenamiento</div>
<div class="col-md-1"></div>
<div class="col-md-11 text-justify mb-5 mt-0" style="font-family: 'Merienda', cursive;">
Se entrenará la mente a través de ejercicios en los que las personas pongan en juego su ingenio, creatividad y habilidades para resolver situaciones problemáticas.<br><br>

Se buscará el desarrollo y reconocimiento de talentos, se aumentará la autoestima y se aliviará el estrés.<br><br>

El cerebro es un músculo que se puede y debe ejercitar. Se propiciará un estado de atención plena en la que el sujeto logre estar concentrado en el aquí y ahora para centrarse en lo que puede y no puede controlar. Centrándose en sus posibilidades y no en sus carencias.
        </div> 
        </div>

      </div>

    <div class="col-md-4">
      <img src="images/servicios.png" class="mt-3 img-fluid rounded mx-auto d-block" alt="Eguzkilore logo">
    </div>
    </div>

  {% endblock %}

