{% extends 'articulos.html.twig' %}

{% block title %}
  El Centro de Psicología - Psicólogo en Irun - Centro de Psicología Eguzkilore
{% endblock %}

{% block metatags %}
  <meta name="robots" content="index, follow" />  
  <meta name="keywords" content="“psicólogo irun”, “psicólogo en irun”, “psicóloga irun”, “psicóloga en irun”, psicólogo, psicóloga, psicología, consulta, centro, irun, gipuzkoa, guipuzcoa, “psicología en irun”, “centro de psicología”, “centro eguzkilore”, “centro de psicología eguzkilore”, ayuda, solución, problema, “terapia de pareja”, “solucionar problema”, “solucionar problemas”, “gipuzkoa psicólogo”, “guipuzcoa psicólogo”, “avenida salis”, salis" />
  <meta name="description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Avenida Salis 19 bajo derecha" />
  <meta property="og:title" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Sobre el Centro de Psicología Eguzkilore" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Avenida Salis 19 bajo derecha" />
{% endblock %} 


{% block articulo %}

  <div class="row col-md-8 justify-content-center"style="color: #761DA2; font-family: 'Merienda', cursive;">
    <h2 class="mb-4">Centro de Psicología Eguzkilore</h2>
  </div>

  <div class="row">
    <div class="col-md-8 mt-3 text-justify">

      <p>La finalidad del Centro de Psicología Eguzkilore es establecer un espacio de intercambio entre el profesional consultor y la persona que acude al centro, que permita mejorar la adaptación de las personas en el ámbito personal, laboral, familiar, escolar, social, deportivo, etc .</p>

      <p>El objetivo fundamental de esta consultoría psicológica es la de acercar a las persona las herramientas y estrategias necesarias para asumir y resolver situaciones estresantes.</p>

      <p>Esta dirigido a personas sanas, niños, adolescentes y adultos, que se enfrentan a situaciones desestabilizantes, es decir, cualquier tipo de situación que altere el ritmo normal de vida. Dichas situaciones serán abordadas desde un plano educativo cuyo objetivo será redireccionar dichas conductas nocivas hacia conductas que favorezcan el desarrollo personal.</p>

      <p> La función del psicólogo consultor será la de guiar a la persona en los procesos de readaptación a partir de actividades educativas que le permitan reconstruir una realidad vital favorable.</p>

      <p>Se realizarán actividades individuales y grupales en talleres con un clima de comunicación constante que favorezca el intercambio, el contacto con las emociones, la creatividad, la confianza, el respeto, la capacidad de aceptar las diferencias y las discrepancias.</p>

      <p>Se enseñaran técnicas de estudio que permitirán una lectura comprensiva de textos favoreciendo no solo su memorización sino el aprendizaje de los datos y conceptos de una forma contextualizada y creativa.</p>

      <p>Además en el Centro de Psicología Eguzkilore se impartirán charlas informativas sobre temas que pertenecen al acontecer actual teniendo en cuenta la demanda de las personas, sus interés e inquietudes.</p>
    </div>

    <div class="col-md-4">
      <img src="images/sobreelcentro-border.jpg" class="mt-3 img-fluid rounded mx-auto d-block" alt="Centro de Psicología Eguzkilore">
    </div>
  </div>

  <div class="row col-md-8 justify-content-center mt-5" style="color: #761DA2; font-family: 'Merienda', cursive;">
    <h2 class="mb-4">Objetivos</h2>
  </div>

  <div class="row">
    <div class="col-md-8 mt-4">

      <ul class="fa-ul">
        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Tomar contacto con las emociones.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Aumentar la autoestima.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Establecer vínculos saludables y duraderos.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Establecer diálogos abiertos y constructivos.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Asumir los conflictos como parte natural de la vida.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Entrenar la mente para enfrentar situaciones estresantes.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Adquirir técnicas de estudio que permitan una lectura comprensiva.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Reconocer las múltiples posibilidades en la resolución de conflictos.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Afrontar desafíos.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Asumir responsabilidades.</li>

        <li class="mb-3"><i class="fa-li fa fa-check-square"></i>Flexibilizar la mente.</li>
      </ul>
    </div>

    <div class="col-md-4">
      <img src="images/objetivos.jpg" class="mt-4 mb-5 img-fluid rounded mx-auto d-block" alt="Normas para ser feliz">
    </div>
  </div> 

{% endblock %}

