{% extends 'articulos.html.twig' %}

{% block title %}
  Gloria D'Alessandro - Psicóloga en Irun - Centro de Psicología Eguzkilore
{% endblock %}

{% block metatags %}
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="“psicólogo irun”, “psicólogo en irun”, “psicóloga irun”, “psicóloga en irun”, psicólogo, psicóloga, psicología, gloria, dalessandro, kaiser, “gloria dalessandro”, consulta, centro, irun, gipuzkoa, guipuzcoa, “psicología en irun”, “centro de psicología”, “centro eguzkilore”, “centro de psicología eguzkilore”, ayuda, solución, problema, “solucionar problema”, “solucionar problemas”, “gipuzkoa psicólogo”, “guipuzcoa psicólogo”, “avenida salis”, salis" />
  <meta name="description" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Sobre mi, Gloria D'Alessandro Kaiser" />
  <meta property="og:title" content="Centro de Psicología Eguzkilore en Irun, Gipuzkoa. Sobre mi, Gloria D'Alessandro Kaiser" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="Centro de Psicología en Irun, Gipuzkoa. Sobre mi, Gloria D'Alessandro Kaiser" />
{% endblock %} 

{% block articulo %}

  <div class="row col-md-8 justify-content-center" style="color: #761DA2; font-family: 'Merienda', cursive;">   
    <h2 class="mb-4">Sobre mí</h2>
  </div>

  <div class="row">
    <div class="col-md-6 mt-3 text-justify">
      <p>Mi nombre es Gloria y me desempeño como Psicóloga consultora, es decir, que ejerzo mi profesión fuera del campo clínico. Mi función es la de orientar, reconducir, acompañar e informar.</p>

      <p>Mi meta es lograr que las personas que requieran mi ayuda puedan obtener las herramientas que les permitan mejorar su comunicación para establecer vínculos positivos, duraderos y adaptativos.</p>

      <p>Mejorar la comunicación les aportará beneficios importantes para su vida. Les permitirá aprender a expresar sus sentimientos y emociones, aumentar su autoestima fortaleciendo de este modo su capacidad para afrontar las situaciones estresantes que forman parte natural de la vida.</p>

      <p>Mi propósito es construir un espacio de diálogo que permita una comunicación abierta y constructiva a partir de la realización de actividades educativas y lúdicas. Dichas actividades se realizarán de manera individual o grupal en forma de talleres educativos.</p>

      <p>La finalidad de este espacio de intercambio es mostrar que existen distintos caminos que pueden llevarnos a la resolución de los conflictos. El reconocer las distintas posibilidades de resolución de conflictos flexibilizará la mente de las personas permitiendo un desarrollo personal más amplio y productivo.</p>

      <p>Como Psicóloga consultora mi función será la de brindar a las personas estrategias que favorezcan su crecimiento personal y la consecución de retos y proyectos vitales significativos. Abrir la mente al diálogo les permitirá abandonar las posiciones rígidas que dificultan el desarrollo de la capacidad de adaptación necesaria para enfrentar y resolver los desafíos personales.</p>
    </div>

    <div class="col-md-6">
      <img src="images/sobremi.jpg" class="mt-3 img-fluid rounded mx-auto d-block mb-5" alt="Psicóloga Gloria DAlessandro">

      <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-3 mb-5" style="color: #761DA2; font-family: 'Merienda', cursive;">Como Coaching Personal, mi tarea será la de animar a la persona hacia la reflexión a través del diálogo para que ésta adquiera una perspectiva más profunda sobre si mismo, y desarrolle las competencias y actitudes que le permitan alcanzar el éxito.</div>
        <div class="col-md-2"></div>
      </div> 
    </div> 
  </div>


{% endblock %}

